
// Bootstrap Twitter Boostrap using our bootstrap for their bootstrap to bootstrap not all of bootstrap
@import "bootstrap.less";
// The Paginator less for MopaBootstrapBundle
@import "../../../../../../../vendor/mopa/bootstrap-bundle/Mopa/Bundle/BootstrapBundle/Resources/public/less/paginator.less";

@FontAwesomePath: '/font';

// *** CUSTOM STYLING *** //

div.header {
  padding: 10px 0;
}

.token-selection img {
  max-width: 200px;
  max-height: 90px;
  min-height: 90px;
}

.token-selection .description{
  height: 40px;
}

form.offset-top {
  margin-top: @baseLineHeight;
}

// we only have one checkbox -> the approval one, that needs to be emphasized
label.checkbox {
  font-weight: bold;
}

// additional help text under the Decline Request button
.button-note {
  margin-top: 10px;
}
