<div class="row-fluid">
    <div class="span3"><h4>1. Select Token</h4></div>
    <div class="span3"><h4 class="muted">2. Link Token</h4></div>
    <div class="span3"><h4 class="muted">3. Confirm Token</h4></div>
    <div class="span3"><h4 class="muted">4. Activate Token</h4></div>
</div>
<div class="row-fluid">
    <div class="progress progress-striped">
        <div class="bar" style="width: {{ width }}%;"></div>
    </div>
</div>
