{% extends 'SURFnetSuAASRABundle:RA:base.html.twig' %}

{% block title %}{{ parent() }} - Confirm Token{% endblock %}

{% block page_content %}
    <div class="row-fluid">
            <div class="row-fluid">
                <div class="span8">
                    <div class="alert alert-info">
                        {% block message %}{% endblock message %}
                    </div>
                    {% block additional %}{% endblock additional %}
                </div>
                <div class="span4">
                    {{ tokenThumbnails(false, {1:tokenType}) }}
                </div>
            </div>
        </div>
{% endblock %}
